# Konfigurasi Database (Supabase)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

PORT=8080

# App Config
JWT_SECRET=

# Next.js (Server-side for Docker)
API_INTERNAL_URL=

# Midtrans Config
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=