@import "tailwindcss";

@theme {
  --color-apomacy-teal: #5CC0C3;       /* Warna Utama/Aksen: Tombol, Harga, Sukses */
  --color-apomacy-blue: #14387D;       /* Warna Sekunder: Judul, Border */
  --color-apomacy-dark: #021024;       /* Teks Utama */
  --color-apomacy-muted-blue: #5176A6; /* Teks Sekunder */
  --color-apomacy-border: #E5E5E5;     /* Border Abu-abu */
  --color-apomacy-light-blue: #C2ECEB; /* Background Kartu/Aksen */
  --color-apomacy-white: #FFFFFF;      /* Latar Belakang Utama */
  --color-apomacy-danger: #FF4C4C;     /* Tombol Logout / Bahaya */

  --font-sans: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  background-color: #FFFFFF;
}